.pro_pic {
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10%;
}
.name{
	text-align: center;
	color: white;
	font-family: "Helvetica";
	font-weight: lighter;
	}
.labels{
	text-align: center;
	color: white;
	font-family: "Helvetica";
	font-size:12pt;
	font-weight: lighter;
}

.button {
   border: 1px solid #000000;
   background: #888f94;
   background: -webkit-gradient(linear, left top, left bottom, from(#888f94), to(#888f94));
   background: -webkit-linear-gradient(top, #888f94, #888f94);
   background: -moz-linear-gradient(top, #888f94, #888f94);
   background: -ms-linear-gradient(top, #888f94, #888f94);
   background: -o-linear-gradient(top, #888f94, #888f94);
   background-image: -ms-linear-gradient(top, #888f94 0%, #888f94 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #000000 0 1px 0;
   color: #ffffff;
   font-size: 18px;
   font-family: helvetica, serif;
   text-decoration: none;

   }

.button:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }

body{
	
	background-color: rgb(30,30,30);
}

.content{
	color: white;
	text-align: center;
	position: fixed;         
    bottom: 0px; 
    width: 100%;
	font-family: "Helvetica";
	font-size:9pt;
}